body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1692px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:201px;
  top:200px;
  width:414px;
  height:1050px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:1050px;
}
#u1 {
  position:absolute;
  left:2px;
  top:517px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:202px;
  top:863px;
  width:412px;
  height:299px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:299px;
}
#u3 {
  position:absolute;
  left:2px;
  top:142px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:217px;
  top:413px;
  width:379px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:40px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:202px;
  top:276px;
  width:412px;
  height:127px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:127px;
}
#u7 {
  position:absolute;
  left:2px;
  top:56px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:201px;
  top:1190px;
  width:414px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:225px;
  top:1198px;
  width:28px;
  height:22px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u11 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:227px;
  top:1224px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:391px;
  top:1198px;
  width:30px;
  height:24px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:393px;
  top:1224px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:305px;
  top:1198px;
  width:34px;
  height:22px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u19 {
  position:absolute;
  left:2px;
  top:3px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:307px;
  top:1222px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:481px;
  top:1200px;
  width:22px;
  height:22px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:479px;
  top:1224px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399CC;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:559px;
  top:1200px;
  width:22px;
  height:24px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u27 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:553px;
  top:1224px;
  width:37px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:202px;
  top:201px;
  width:412px;
  height:21px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:21px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:203px;
  top:221px;
  width:412px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:55px;
}
#u33 {
  position:absolute;
  left:2px;
  top:15px;
  width:408px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:537px;
  top:390px;
  width:20px;
  height:12px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:217px;
  top:885px;
  width:96px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:239px;
  top:298px;
  width:30px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:227px;
  top:342px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:218px;
  top:365px;
  width:71px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:217px;
  top:917px;
  width:382px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:365px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:382px;
  height:1px;
}
#u45 {
  position:absolute;
  left:324px;
  top:342px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:309px;
  top:365px;
  width:84px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:336px;
  top:298px;
  width:30px;
  height:30px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:515px;
  top:341px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:506px;
  top:367px;
  width:84px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:524px;
  top:291px;
  width:45px;
  height:45px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u56 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:423px;
  top:342px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:407px;
  top:365px;
  width:84px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:434px;
  top:298px;
  width:30px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:446px;
  top:889px;
  width:158px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:17px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:220px;
  top:1067px;
  width:378px;
  height:72px;
  color:#CCCCCC;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:72px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:202px;
  top:463px;
  width:412px;
  height:160px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:160px;
}
#u68 {
  position:absolute;
  left:2px;
  top:72px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:216px;
  top:483px;
  width:382px;
  height:122px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:122px;
}
#u70 {
  position:absolute;
  left:2px;
  top:53px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:202px;
  top:633px;
  width:412px;
  height:220px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:220px;
}
#u72 {
  position:absolute;
  left:2px;
  top:102px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:217px;
  top:655px;
  width:96px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:217px;
  top:687px;
  width:382px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:365px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:382px;
  height:1px;
}
#u76 {
  position:absolute;
  left:217px;
  top:703px;
  width:381px;
  height:123px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:123px;
}
#u77 {
  position:absolute;
  left:2px;
  top:54px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1278px;
  top:413px;
  width:414px;
  height:387px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:387px;
}
#u79 {
  position:absolute;
  left:2px;
  top:186px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:830px;
  top:200px;
  width:414px;
  height:1050px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:1050px;
}
#u81 {
  position:absolute;
  left:2px;
  top:517px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:831px;
  top:461px;
  width:412px;
  height:299px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:299px;
}
#u83 {
  position:absolute;
  left:2px;
  top:142px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:846px;
  top:413px;
  width:379px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:40px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:831px;
  top:276px;
  width:412px;
  height:127px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:127px;
}
#u87 {
  position:absolute;
  left:2px;
  top:56px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:830px;
  top:1190px;
  width:414px;
  height:60px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:60px;
}
#u89 {
  position:absolute;
  left:2px;
  top:22px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:854px;
  top:1198px;
  width:28px;
  height:22px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
}
#u91 {
  position:absolute;
  left:2px;
  top:3px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:856px;
  top:1224px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:1020px;
  top:1198px;
  width:30px;
  height:24px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u95 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:1022px;
  top:1224px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:934px;
  top:1198px;
  width:34px;
  height:22px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u99 {
  position:absolute;
  left:2px;
  top:3px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:936px;
  top:1222px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:1110px;
  top:1200px;
  width:22px;
  height:22px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u103 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:1108px;
  top:1224px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399CC;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:1188px;
  top:1200px;
  width:22px;
  height:24px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u107 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:1182px;
  top:1224px;
  width:37px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:831px;
  top:201px;
  width:412px;
  height:21px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:21px;
}
#u111 {
  position:absolute;
  left:2px;
  top:2px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:832px;
  top:221px;
  width:412px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:55px;
}
#u113 {
  position:absolute;
  left:2px;
  top:15px;
  width:408px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:1166px;
  top:390px;
  width:20px;
  height:12px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u115 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:846px;
  top:483px;
  width:96px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:868px;
  top:298px;
  width:30px;
  height:30px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u119 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:856px;
  top:342px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:847px;
  top:365px;
  width:71px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:846px;
  top:515px;
  width:382px;
  height:10px;
}
#u124_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_end {
  position:absolute;
  left:365px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_line {
  position:absolute;
  left:0px;
  top:5px;
  width:382px;
  height:1px;
}
#u125 {
  position:absolute;
  left:953px;
  top:342px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:938px;
  top:365px;
  width:84px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:965px;
  top:298px;
  width:30px;
  height:30px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u130 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1144px;
  top:341px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:1135px;
  top:367px;
  width:84px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:1153px;
  top:291px;
  width:45px;
  height:45px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u136 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:1052px;
  top:342px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u139 {
  position:absolute;
  left:1036px;
  top:365px;
  width:84px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:1063px;
  top:298px;
  width:30px;
  height:30px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u142 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:841px;
  top:591px;
  width:124px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:54px;
}
#u144 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:1075px;
  top:487px;
  width:158px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:17px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:871px;
  top:537px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:843px;
  top:564px;
  width:124px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:18px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u151 {
  position:absolute;
  left:975px;
  top:591px;
  width:124px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:54px;
}
#u152 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:1005px;
  top:537px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u155 {
  position:absolute;
  left:979px;
  top:564px;
  width:118px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:1109px;
  top:591px;
  width:124px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:54px;
}
#u158 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:1139px;
  top:537px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:1109px;
  top:564px;
  width:118px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:849px;
  top:665px;
  width:378px;
  height:72px;
  color:#CCCCCC;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:72px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:1279px;
  top:461px;
  width:412px;
  height:299px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:299px;
}
#u166 {
  position:absolute;
  left:2px;
  top:142px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:1294px;
  top:483px;
  width:96px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:1294px;
  top:515px;
  width:382px;
  height:10px;
}
#u169_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u169_end {
  position:absolute;
  left:365px;
  top:-5px;
  width:18px;
  height:20px;
}
#u169_line {
  position:absolute;
  left:0px;
  top:5px;
  width:382px;
  height:1px;
}
#u170 {
  position:absolute;
  left:1523px;
  top:487px;
  width:158px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:17px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:1297px;
  top:665px;
  width:378px;
  height:72px;
  color:#CCCCCC;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:72px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:1294px;
  top:550px;
  width:381px;
  height:95px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:95px;
}
#u175 {
  position:absolute;
  left:2px;
  top:40px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:831px;
  top:770px;
  width:412px;
  height:160px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:160px;
}
#u177 {
  position:absolute;
  left:2px;
  top:72px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:845px;
  top:790px;
  width:382px;
  height:122px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:122px;
}
#u179 {
  position:absolute;
  left:2px;
  top:53px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:831px;
  top:940px;
  width:412px;
  height:220px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:220px;
}
#u181 {
  position:absolute;
  left:2px;
  top:102px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:846px;
  top:962px;
  width:96px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:846px;
  top:994px;
  width:382px;
  height:10px;
}
#u184_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u184_end {
  position:absolute;
  left:365px;
  top:-5px;
  width:18px;
  height:20px;
}
#u184_line {
  position:absolute;
  left:0px;
  top:5px;
  width:382px;
  height:1px;
}
#u185 {
  position:absolute;
  left:846px;
  top:1010px;
  width:381px;
  height:123px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:123px;
}
#u186 {
  position:absolute;
  left:2px;
  top:54px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:524px;
  top:659px;
  width:69px;
  height:18px;
  color:#3399CC;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:18px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u189 {
  position:absolute;
  left:1159px;
  top:966px;
  width:69px;
  height:18px;
  color:#3399CC;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:18px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u191 {
  position:absolute;
  left:349px;
  top:966px;
  width:120px;
  height:25px;
  font-size:18px;
  color:#CCCCCC;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u193 {
  position:absolute;
  left:357px;
  top:1005px;
  width:100px;
  height:30px;
  color:#3399CC;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u194 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:202px;
  top:105px;
  width:355px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:45px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:831px;
  top:105px;
  width:239px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:45px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
