body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1128px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:714px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4230 {
  position:absolute;
  left:167px;
  top:46px;
  width:414px;
  height:714px;
}
#u4231 {
  position:absolute;
  left:2px;
  top:349px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:21px;
}
#u4232 {
  position:absolute;
  left:168px;
  top:47px;
  width:412px;
  height:21px;
}
#u4233 {
  position:absolute;
  left:2px;
  top:2px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:55px;
}
#u4234 {
  position:absolute;
  left:168px;
  top:67px;
  width:412px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4235 {
  position:absolute;
  left:2px;
  top:15px;
  width:408px;
  word-wrap:break-word;
}
#u4236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:290px;
}
#u4236 {
  position:absolute;
  left:168px;
  top:132px;
  width:410px;
  height:290px;
}
#u4237 {
  position:absolute;
  left:2px;
  top:137px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4238_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:432px;
  height:239px;
}
#u4238 {
  position:absolute;
  left:168px;
  top:132px;
  width:412px;
  height:228px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4239 {
  position:absolute;
  left:2px;
  top:106px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4240 {
  position:absolute;
  left:178px;
  top:83px;
  width:24px;
  height:24px;
}
#u4241 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4242 {
  position:absolute;
  left:184px;
  top:377px;
  width:201px;
  height:22px;
  font-size:16px;
}
#u4243 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u4244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:290px;
}
#u4244 {
  position:absolute;
  left:168px;
  top:432px;
  width:410px;
  height:290px;
}
#u4245 {
  position:absolute;
  left:2px;
  top:137px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4246_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:432px;
  height:239px;
}
#u4246 {
  position:absolute;
  left:168px;
  top:432px;
  width:412px;
  height:228px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4247 {
  position:absolute;
  left:2px;
  top:106px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4248 {
  position:absolute;
  left:184px;
  top:677px;
  width:201px;
  height:22px;
  font-size:16px;
}
#u4249 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u4250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:714px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4250 {
  position:absolute;
  left:714px;
  top:46px;
  width:414px;
  height:714px;
}
#u4251 {
  position:absolute;
  left:2px;
  top:349px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:21px;
}
#u4252 {
  position:absolute;
  left:715px;
  top:47px;
  width:412px;
  height:21px;
}
#u4253 {
  position:absolute;
  left:2px;
  top:2px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:55px;
}
#u4254 {
  position:absolute;
  left:714px;
  top:67px;
  width:412px;
  height:55px;
  font-size:18px;
}
#u4255 {
  position:absolute;
  left:2px;
  top:15px;
  width:408px;
  word-wrap:break-word;
}
#u4256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:568px;
}
#u4256 {
  position:absolute;
  left:714px;
  top:122px;
  width:414px;
  height:568px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u4257 {
  position:absolute;
  left:2px;
  top:270px;
  width:410px;
  word-wrap:break-word;
}
#u4258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4258 {
  position:absolute;
  left:725px;
  top:83px;
  width:24px;
  height:24px;
}
#u4259 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3399CC;
  text-align:center;
}
#u4260 {
  position:absolute;
  left:1039px;
  top:84px;
  width:82px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3399CC;
  text-align:center;
}
#u4261 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:60px;
}
#u4262 {
  position:absolute;
  left:714px;
  top:700px;
  width:209px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3399CC;
}
#u4263 {
  position:absolute;
  left:2px;
  top:18px;
  width:205px;
  word-wrap:break-word;
}
#u4264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u4264 {
  position:absolute;
  left:923px;
  top:700px;
  width:205px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3399CC;
}
#u4265 {
  position:absolute;
  left:2px;
  top:18px;
  width:201px;
  word-wrap:break-word;
}
