body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1128px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:714px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4116 {
  position:absolute;
  left:167px;
  top:46px;
  width:414px;
  height:714px;
}
#u4117 {
  position:absolute;
  left:2px;
  top:349px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:21px;
}
#u4118 {
  position:absolute;
  left:168px;
  top:47px;
  width:412px;
  height:21px;
}
#u4119 {
  position:absolute;
  left:2px;
  top:2px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:55px;
}
#u4120 {
  position:absolute;
  left:168px;
  top:67px;
  width:412px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4121 {
  position:absolute;
  left:2px;
  top:15px;
  width:408px;
  word-wrap:break-word;
}
#u4122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:290px;
}
#u4122 {
  position:absolute;
  left:168px;
  top:132px;
  width:410px;
  height:290px;
}
#u4123 {
  position:absolute;
  left:2px;
  top:137px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:229px;
}
#u4124 {
  position:absolute;
  left:168px;
  top:132px;
  width:412px;
  height:228px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4125 {
  position:absolute;
  left:2px;
  top:106px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4126 {
  position:absolute;
  left:178px;
  top:83px;
  width:24px;
  height:24px;
}
#u4127 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4128 {
  position:absolute;
  left:184px;
  top:377px;
  width:201px;
  height:22px;
  font-size:16px;
}
#u4129 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u4130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:290px;
}
#u4130 {
  position:absolute;
  left:168px;
  top:432px;
  width:410px;
  height:290px;
}
#u4131 {
  position:absolute;
  left:2px;
  top:137px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:229px;
}
#u4132 {
  position:absolute;
  left:168px;
  top:432px;
  width:412px;
  height:228px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4133 {
  position:absolute;
  left:2px;
  top:106px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4134 {
  position:absolute;
  left:184px;
  top:677px;
  width:201px;
  height:22px;
  font-size:16px;
}
#u4135 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u4136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:714px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4136 {
  position:absolute;
  left:714px;
  top:46px;
  width:414px;
  height:714px;
}
#u4137 {
  position:absolute;
  left:2px;
  top:349px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:21px;
}
#u4138 {
  position:absolute;
  left:715px;
  top:47px;
  width:412px;
  height:21px;
}
#u4139 {
  position:absolute;
  left:2px;
  top:2px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:55px;
}
#u4140 {
  position:absolute;
  left:714px;
  top:67px;
  width:412px;
  height:55px;
  font-size:18px;
}
#u4141 {
  position:absolute;
  left:2px;
  top:15px;
  width:408px;
  word-wrap:break-word;
}
#u4142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:568px;
}
#u4142 {
  position:absolute;
  left:714px;
  top:122px;
  width:414px;
  height:568px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u4143 {
  position:absolute;
  left:2px;
  top:270px;
  width:410px;
  word-wrap:break-word;
}
#u4144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4144 {
  position:absolute;
  left:725px;
  top:83px;
  width:24px;
  height:24px;
}
#u4145 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3399CC;
  text-align:center;
}
#u4146 {
  position:absolute;
  left:1039px;
  top:84px;
  width:82px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3399CC;
  text-align:center;
}
#u4147 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:60px;
}
#u4148 {
  position:absolute;
  left:714px;
  top:700px;
  width:209px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3399CC;
}
#u4149 {
  position:absolute;
  left:2px;
  top:18px;
  width:205px;
  word-wrap:break-word;
}
#u4150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:60px;
}
#u4150 {
  position:absolute;
  left:923px;
  top:700px;
  width:205px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3399CC;
}
#u4151 {
  position:absolute;
  left:2px;
  top:18px;
  width:201px;
  word-wrap:break-word;
}
