body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2234px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:173px;
  top:200px;
  width:413px;
  height:1250px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:1250px;
}
#u1 {
  position:absolute;
  left:2px;
  top:617px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:174px;
  top:910px;
  width:410px;
  height:520px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:520px;
}
#u3 {
  position:absolute;
  left:2px;
  top:252px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:174px;
  top:202px;
  width:410px;
  height:21px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:21px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:175px;
  top:222px;
  width:411px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:55px;
}
#u7 {
  position:absolute;
  left:2px;
  top:5px;
  width:407px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:183px;
  top:236px;
  width:28px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:235px;
  top:930px;
  width:95px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:439px;
  top:930px;
  width:101px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:174px;
  top:277px;
  width:411px;
  height:453px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:453px;
}
#u15 {
  position:absolute;
  left:2px;
  top:218px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:174px;
  top:966px;
  width:411px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:394px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:411px;
  height:1px;
}
#u17 {
  position:absolute;
  left:174px;
  top:965px;
  width:206px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:189px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:4px;
  width:206px;
  height:3px;
}
#u18 {
  position:absolute;
  left:174px;
  top:740px;
  width:410px;
  height:160px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:160px;
}
#u19 {
  position:absolute;
  left:2px;
  top:72px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:183px;
  top:758px;
  width:147px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:183px;
  top:803px;
  width:153px;
  height:70px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:70px;
}
#u23 {
  position:absolute;
  left:2px;
  top:27px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:231px;
  top:845px;
  width:52px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:transparent;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:29px;
}
#u25 {
  position:absolute;
  left:0px;
  top:4px;
  width:52px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:363px;
  top:801px;
  width:104px;
  height:30px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u27 {
  position:absolute;
  left:0px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:363px;
  top:831px;
  width:170px;
  height:40px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u29 {
  position:absolute;
  left:0px;
  top:6px;
  width:170px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:185px;
  top:1028px;
  width:78px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:185px;
  top:996px;
  width:386px;
  height:22px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:22px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:185px;
  top:1053px;
  width:389px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:372px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:389px;
  height:1px;
}
#u35 {
  position:absolute;
  left:185px;
  top:1127px;
  width:78px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:185px;
  top:1073px;
  width:386px;
  height:44px;
  font-size:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:44px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:185px;
  top:1153px;
  width:389px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:372px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:389px;
  height:1px;
}
#u40 {
  position:absolute;
  left:185px;
  top:1205px;
  width:78px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:185px;
  top:1173px;
  width:386px;
  height:22px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:22px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:185px;
  top:1233px;
  width:389px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:372px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:389px;
  height:1px;
}
#u45 {
  position:absolute;
  left:185px;
  top:1307px;
  width:78px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:185px;
  top:1253px;
  width:386px;
  height:44px;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:44px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:185px;
  top:1333px;
  width:389px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:372px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:389px;
  height:1px;
}
#u50 {
  position:absolute;
  left:185px;
  top:1389px;
  width:78px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:185px;
  top:1353px;
  width:386px;
  height:22px;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:22px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:970px;
  top:910px;
  width:410px;
  height:520px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:520px;
}
#u55 {
  position:absolute;
  left:2px;
  top:252px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1031px;
  top:930px;
  width:95px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1235px;
  top:930px;
  width:101px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:970px;
  top:966px;
  width:411px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:394px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:411px;
  height:1px;
}
#u61 {
  position:absolute;
  left:1175px;
  top:965px;
  width:206px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:189px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:4px;
  width:206px;
  height:3px;
}
#u62 {
  position:absolute;
  left:981px;
  top:1028px;
  width:78px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:981px;
  top:996px;
  width:386px;
  height:22px;
  font-size:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:22px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:981px;
  top:1053px;
  width:389px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:372px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:389px;
  height:1px;
}
#u67 {
  position:absolute;
  left:981px;
  top:1127px;
  width:78px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:981px;
  top:1073px;
  width:386px;
  height:44px;
  font-size:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:44px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:981px;
  top:1153px;
  width:389px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:372px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:389px;
  height:1px;
}
#u72 {
  position:absolute;
  left:981px;
  top:1205px;
  width:78px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:981px;
  top:1173px;
  width:386px;
  height:22px;
  font-size:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:22px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:981px;
  top:1233px;
  width:389px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:372px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:389px;
  height:1px;
}
#u77 {
  position:absolute;
  left:981px;
  top:1307px;
  width:78px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:981px;
  top:1253px;
  width:386px;
  height:44px;
  font-size:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:44px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:981px;
  top:1333px;
  width:389px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:372px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:389px;
  height:1px;
}
#u82 {
  position:absolute;
  left:981px;
  top:1389px;
  width:78px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:18px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:981px;
  top:1353px;
  width:386px;
  height:22px;
  font-size:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:22px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:600px;
  top:801px;
  width:230px;
  height:49px;
  font-size:14px;
  color:#3399CC;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:49px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:600px;
  top:900px;
  width:290px;
  height:84px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399CC;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:84px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:600px;
  top:1028px;
  width:290px;
  height:89px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399CC;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:89px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:600px;
  top:1426px;
  width:330px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399CC;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:72px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1420px;
  top:1014px;
  width:290px;
  height:89px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3399CC;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:89px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:1820px;
  top:776px;
  width:414px;
  height:714px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:714px;
}
#u97 {
  position:absolute;
  left:2px;
  top:349px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:1820px;
  top:777px;
  width:412px;
  height:21px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:21px;
}
#u99 {
  position:absolute;
  left:2px;
  top:2px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1820px;
  top:797px;
  width:412px;
  height:55px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:55px;
}
#u101 {
  position:absolute;
  left:2px;
  top:16px;
  width:408px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:1820px;
  top:852px;
  width:414px;
  height:638px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:638px;
}
#u103 {
  position:absolute;
  left:2px;
  top:305px;
  width:410px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:1830px;
  top:813px;
  width:24px;
  height:24px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u105 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:1410px;
  top:1280px;
  width:390px;
  height:0px;
}
#u106_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:404px;
  height:20px;
}
#u107 {
  position:absolute;
  left:145px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
